@charset "UTF-8";
body{
    background-color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
h1{
    color: red;
    background-color: rgb(24, 21, 21);
    text-decoration: underline;
}