@charset "UTF-8";
body{
    background-image: linear-gradient(to right,blue,gray,red);
}
main{
    background-color: rgb(21, 209, 223);
    margin: 100px;
    border-radius: 20px;
    padding: 50px;
}
